footer {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;

  color: #fff;
  background-color: $accent-color;

  .top-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 60px 0;

    .logo-footer {
      width: 140px;
    }

    .navigator-item:hover {
      color: $font-light-color;
      transition: $transition-for-all;
    }

    .navigator-item:not(:last-child) {
      margin-bottom: 16px;
    }

    address {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .common-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        margin-bottom: 35px;
        font-style: normal;
      }

      .common-link:hover {
        color: $font-light-color;
        transition: $transition-for-all;
      }

      .location {
        align-items: flex-start;
      }

      .location::before {
        content: '';
        min-width: 11px;
        height: 16px;
        margin-right: 14px;

        background-image: url('../assets/location.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .phone-link::before {
        content: '';
        min-width: 16px;
        height: 16px;
        margin-right: 14px;

        background-image: url('../assets/phone.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .mail-link::before {
        content: '';
        min-width: 16px;
        height: 11px;
        margin-right: 14px;

        background-image: url('../assets/envelope.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .social-media-blok {

      .social-media-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .social-media-item {
          width: min-content;

          .social-logo {
            height: 19px;

            fill: #fff;
          }

          .social-logo:hover {
            fill: $font-light-color;
            transition: $transition-for-all;
          }

          .facebook-logo {
            width: 10px;
          }

          .twitter-logo {
            width: 24px;
          }

          .linkedin-logo {
            width: 19px;
          }

          .pinterest-logo {
            width: 14px;
          }
        }

        .social-media-item:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  .copyrights {
    padding: 24px 0;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    text-align: center;
  }
}