header {
  display: flex;
  align-items: center;
  height: 102px;

  .logo {
    position: relative;
    width: 70px;
    margin-right: 330px;
    stroke-width: 0;
    fill: $font-dark-color;

    transition: $transition-for-all;
  }

  .logo:hover {
    transform: scale(1.2);
    transition: $transition-for-all;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-item {
      padding: 4px 0;

      transition: $transition-for-all;
    }

    .menu-item:not(:last-child) {
      margin-right: 60px;
    }

    .menu-item:hover {
      color: $font-light-color;

      transition: $transition-for-all;
    }
  }

  .active {
    border-top: 1px solid $font-dark-color;
    border-bottom: 1px solid $font-dark-color;
  }
}