.contact-us {
  .wrapper {
    display: grid;
    grid-template-columns: 390px 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .contact-form {
    width: 390px;

    .input-wrapper {
      position: relative;

      .common-label {
        position: absolute;
        top: 14px;
        left: 21px;

        color: #8d8d8d;
      }

      .required::after {
        content: '*';
        color: red;
      }
    }

    .common-input {
      width: 100%;

      padding: 14px 21px;

      font-size: 14px;
      letter-spacing: 0.56px;

      border: none;

      background-color: $font-lighter-color;
    }


    .common-input::placeholder {
      color: $font-lighter-color;
    }

    .common-input:hover,
    .common-input:focus,
    .common-input:not(:placeholder-shown),
    textarea:hover,
    textarea:focus,
    textarea:not(:placeholder-shown) {
      padding: 14px 21px 5px;
    }

    .common-input:hover+.common-label,
    .common-input:focus+.common-label,
    .common-input:not(:placeholder-shown)+.common-label {
      top: -2px;

      font-weight: 600;
      color: #005CC8;
      transition: $transition-for-all;
    }



    textarea {
      width: 100%;
      height: 150px;
      resize: none;
    }

    .agreement {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input {
        width: 24px;
        height: 24px;
      }

      label {
        width: 330px;
        margin-left: 16px;
      }
    }

    .link {
      border: none;

      color: #fff;
      fill: #fff;

      background-color: $font-dark-color;
      transition: $transition-for-all;
    }

    .link:hover {
      background-color: $font-light-color;
      transition: $transition-for-all;
    }

    .is-enable:disabled {
      background-color: #8d8d8d;
      cursor: default;
    }
  }
}