/* drop default styles */

/*=================================Variables=============================*/
$main-font-family: 'TT Hoves', sans-serif;
$secondary-font-family: 'SF Pro Display', sans-serif;
$accent-color: #383838;
$font-dark-color: #333333;
$font-light-color: #bdbdbd;
$font-lighter-color: #f3f3f3;
$bg-section-color: #fbfbfb;
$bg-footer-color: #2c2c2c;

$transition-for-all: all cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
$transition-for-slider: all linear 700ms;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  margin: 0;

  font-family: $main-font-family;
  font-weight: 400;
  font-size: 14px;

  color: $font-dark-color;
  letter-spacing: 0;
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
}

nav {
  padding: 0;
}

/* ==========================Visually hidden class=======================================*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*============================Global classes===============================================*/
.title {
  font-size: 64px;
  font-weight: 300;
  line-height: 100%;

  color: $font-light-color;
}

.link {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.arrow {
  width: 17px;
  height: 8px;
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-sizes {
  width: 222px;
  height: 71px;
}

.gap12 {
  margin-left: 12px;
}

.mb120 {
  margin-bottom: 120px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.footer-titles {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

/*============================Break points=================================================*/
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
}