<footer>
    <div class="container top-wrapper">
        <img class="logo-footer" src="./assets/logo-white.svg" alt="Logo">
        <nav>
            <p class="location">Інформація</p>
            <ul>
                <li>Головна</li>
                <li>Галерея</li>
                <li>Проекти</li>
                <li>Сертифікати</li>
                <li>Контакти</li>
            </ul>
        </nav>
        <address>
            <p class="common-link location">100000, Республіка Грузія, м. Тбілісі, вул. Шота Руставелі 10</p>
            <a class=" common-link phone-link" href="tel:+3800000000">+38 (000) 000 00 00</a>
            <a class="common-link mail-link" href="mailto:mail@gmail.com">mail@gmail.com</a>
        </address>



    </div>
    <div class="copyrights">
        &copy 2023 Digital Project. Test task. Only for learning goals.
    </div>

</footer>