<footer>
    <div class="container top-wrapper">
        <img class="logo-footer" src="./assets/logo-white.svg" alt="Logo" />
        <div>
            <p class="location footer-titles">Інформація</p>
            <nav>
                <ul class="navigator-list">
                    <li class="navigator-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="navigator-item">
                        <a href="#">Галерея</a>
                    </li>
                    <li class="navigator-item">
                        <a href="#">Проекти</a>
                    </li>
                    <li class="navigator-item">
                        <a href="#">Сертифікати</a>
                    </li>
                    <li class="navigator-item">
                        <a href="#">Контакти</a>
                    </li>
                </ul>
            </nav>
        </div>

        <address>
            <p class="footer-titles">Контакти</p>
            <p class="common-link location">100000, Республіка Грузія, <br> м. Тбілісі, вул. Шота Руставелі 10</p>
            <a class=" common-link phone-link" href="tel:+3800000000">+38 (000) 000 00 00</a>
            <a class="common-link mail-link" href="mailto:mail@gmail.com">mail@gmail.com</a>
        </address>

        <div class="social-media-blok">
            <p class="footer-titles">Соціальні мережі</p>
            <ul class="social-media-list">
                <li class="social-media-item">
                    <a href="www.facebook.com">
                        <svg class="social-logo facebook-logo">
                            <use href="./assets/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="www.twitter.com">
                        <svg class="social-logo twitter-logo">
                            <use href="./assets/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="www.linkedin.com">
                        <svg class="social-logo linkedin-logo">
                            <use href="./assets/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="www.pinterest.com">
                        <svg class="social-logo pinterest-logo">
                            <use href="./assets/sprite.svg#pinterest"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <div class="copyrights">
        &copy:2023 Digital Project. Test task. Only for learning goals.
    </div>

</footer>