<div class="container mb120">
    <h1 class="visually-hidden">We create projects of your homes!</h1>
    <div class="slider">
        <div class="left-side">
            <h2 class="title project-title">Project</h2>
            <p class="project-name">home</p>
            <div class="btn-wrapper">
                <button class="btn">
                    <svg class="arrow">
                        <use href="./assets/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="btn">
                    <svg class="arrow">
                        <use href="./assets/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="counter">
                <p>01</p>
                <svg class="divide-line">
                    <use href="./assets/sprite.svg#divide-line"></use>
                </svg>
                <p>02</p>
            </div>
        </div>
        <div class="right-side">
            <img src="./assets/slide-01.png" alt="Our project">
            <a href="#" class="link read-more slide-link">
                Переглянути
                <svg class="arrow gap12">
                    <use href="./assets/sprite.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>