<section class="container mb120 our-projects">
    <h2 class="title mb60">Наші проекти</h2>
    <div class="projects mb30">
        <div class="first-line">
            <div class="wrapper-poster">
                <img src="./assets/relax-center.jpg" alt="Relax center" />
                <div class="poster">
                    <div>
                        <p class="poster-title">Релакс центр</p>
                        <a href="#" class="read-more read-more-poster">
                            Читати більше
                            <svg class="arrow gap12">
                                <use href="./assets/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrapper-poster">
                <img src="./assets/concert-hall.jpg" alt="Relax Concert hall" />
                <div class="poster">
                    <div>
                        <p class="poster-title">Концерт-холл</p>
                        <a href="#" class="read-more read-more-poster">
                            Читати більше
                            <svg class="arrow gap12">
                                <use href="./assets/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-line">
            <div class="wrapper-poster">
                <img src="./assets/stadium.jpg" alt="Stadium" />
                <div class="poster">
                    <div>
                        <p class="poster-title">Стадіон</p>
                        <a href="#" class="read-more read-more-poster">
                            Читати більше
                            <svg class="arrow gap12">
                                <use href="./assets/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="wrapper-poster">
                <img src="./assets/living-complex.jpg" alt="Living complex" />
                <div class="poster">
                    <div>
                        <p class="poster-title">Житловий комплекс</p>
                        <a href="#" class="read-more read-more-poster">
                            Читати більше
                            <svg class="arrow gap12">
                                <use href="./assets/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="wrapper-poster">
                <img src="./assets/art-object.jpg" alt="Art object" />
                <div class="poster">
                    <div>
                        <p class="poster-title">Арт об’єкт</p>
                        <a href="#" class="read-more read-more-poster">
                            Читати більше
                            <svg class="arrow gap12">
                                <use href="./assets/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="link read-more read-more-sizes">
        Усі проекти
        <svg class="arrow gap12">
            <use href="./assets/sprite.svg#arrow-right"></use>
        </svg>
    </a>
</section>