<section class="container mb120 our-projects">
    <h2 class="title mb60">Наші проекти</h2>
    <div class="projects mb30">
        <div class="first-line">
            <img src="./assets/relax-center.jpg" alt="Relax center">
            <img src="./assets/concert-hall.jpg" alt="Relax Concert hall">
        </div>
        <div class="second-line">
            <img src="./assets/stadium.jpg" alt="Stadium">
            <img src="./assets/living-complex.jpg" alt="Living complex">
            <img src="./assets/art-object.jpg" alt="Art object">
        </div>
    </div>
    <a href="#" class="link read-more">
        Усі проекти
        <svg class="arrow gap12">
            <use href="./assets/sprite.svg#arrow-right"></use>
        </svg>
    </a>
</section>